<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruochen.mapper.BookApplyMapper">

    <resultMap id="bookApplyMapper" type="bookApply">
        <id column="id" property="id"/>
        <result column="bid" property="bId"/>
        <result column="tid" property="tId"/>
        <result column="time" property="time"/>
        <result column="count" property="count"/>
        <result column="status" property="status"/>
        <result column="price_count" property="priceCount"/>
        <result column="apply_count" property="applyCount"/>
        <association property="teacher" javaType="teacher">
            <id column="tid" property="id"/>
            <result column="user_id" property="userId"/>
            <result column="tea_id" property="teaId"/>
            <result column="tea_name" property="teaName"/>
            <result column="tea_sex" property="teaSex"/>
            <result column="dept_id" property="deptId"/>
            <association property="department" javaType="department">
                <id column="dept_id" property="id"/>
                <result column="dept_name" property="deptName"/>
            </association>
        </association>
        <association property="book" javaType="book">
            <id column="bid" property="id"/>
            <result column="book_id" property="bookId"/>
            <result column="book_name" property="bookName"/>
            <result column="book_author" property="bookAuthor"/>
            <result column="book_press" property="bookPress"/>
            <result column="book_price" property="bookPrice"/>
            <result column="book_num" property="bookNum"/>
            <result column="book_img_url" property="bookImgUrl"/>
        </association>
    </resultMap>

    <!--查询当前教师的教材申请记录-->
    <select id="selectBookApplyByTea" resultMap="bookApplyMapper">
        select book_apply.*, book.*, teacher.*
        from book_apply, book, teacher
        where book_apply.bid = book.id and book_apply.tid = teacher.id and teacher.id = #{currentTeacherId}
        <if test="bookId != null">
            and book.book_id like concat('%', #{bookId}, '%')
        </if>
        <if test="bookName != null">
            and book.book_name like concat('%', #{bookName}, '%')
        </if>
        <if test="time != null">
            and book_apply.time like concat('%', date_format(#{time}, '%Y-%m-%d'), '%')
        </if>
        <if test="status != null">
            and book_apply.status like concat('%', #{status}, '%')
        </if>
    </select>

    <!--查询所有教材申请记录-->
    <select id="selectBookApplyAll" resultMap="bookApplyMapper">
        select book_apply.*, book.*, teacher.*, department.*
        from book_apply, book, teacher, department
        where book_apply.bid = book.id and book_apply.tid = teacher.id and teacher.dept_id = department.id and teacher.dept_id = #{adminDeptId}
        and book_apply.status &lt;&gt; -1
        <if test="bookApplySearch.bookId != null">
            and book.book_id like concat('%', #{bookApplySearch.bookId}, '%')
        </if>
        <if test="bookApplySearch.bookName != null">
            and book.book_name like concat('%', #{bookApplySearch.bookName}, '%')
        </if>
        <if test="bookApplySearch.teaId != null">
            and teacher.tea_id like concat('%', #{bookApplySearch.teaId}, '%')
        </if>
        <if test="bookApplySearch.teaName != null">
            and teacher.tea_name like concat('%', #{bookApplySearch.teaName}, '%')
        </if>
        <if test="bookApplySearch.deptId != null">
            and teacher.dept_id like concat('%', #{bookApplySearch.deptId}, '%')
        </if>
        <if test="bookApplySearch.time != null">
            and book_apply.time like concat('%', date_format(#{bookApplySearch.time}, '%Y-%m-%d'), '%')
        </if>
        <if test="bookApplySearch.status != null">
            and book_apply.status like concat('%', #{bookApplySearch.status}, '%')
        </if>
    </select>

    <!--查询所有已通过的申请记录，通过教材ID分组，并计算教材价格总和-->
    <select id="selectBookApplyGroupByBookId" resultMap="bookApplyMapper">
        select book.book_id, book.book_name, book.book_author, book.book_press, book.book_price,
        book.book_num, sum(book_apply.count) as apply_count, book_apply.status
        from book, book_apply
        where book_apply.bid = book.id and book_apply.status = 1
        <if test="bookId != null">
            and book.book_id like concat('%', #{bookId}, '%')
        </if>
        <if test="bookName != null">
            and book.book_name like concat('%', #{bookName}, '%')
        </if>
        <if test="bookPress != null">
            and book.book_press like concat('%', #{bookPress}, '%')
        </if>
        group by book.book_id
        having (apply_count - book_num) > 0
    </select>

    <!--统计近7天申请数据 -->
    <select id="selectCountLastSevenDays" resultType="com.ruochen.domain.Statistics">
        select a.date, ifnull(b.nums, 0) as count
        from (
                 SELECT curdate() as date
                 union all
                 SELECT date_sub(curdate(), interval 1 day) as date
                 union all
                 SELECT date_sub(curdate(), interval 2 day) as date
                 union all
                 SELECT date_sub(curdate(), interval 3 day) as date
                 union all
                 SELECT date_sub(curdate(), interval 4 day) as date
                 union all
                 SELECT date_sub(curdate(), interval 5 day) as date
                 union all
                 SELECT date_sub(curdate(), interval 6 day) as date
             ) a
                 left join (
            SELECT DATE_FORMAT(time, '%Y-%m-%d') as time,
                   COUNT(*)                      as nums
            FROM book_apply
            where DATE_SUB(CURDATE(), INTERVAL 7 DAY) &lt;= date(time)
            GROUP BY DATE_FORMAT(time, '%Y-%m-%d')
        ) b on a.date = b.time
        order by a.date
    </select>
</mapper>