<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruochen.mapper.TeacherMapper">

    <resultMap id="teacherMap" type="teacher">
        <id column="id" property="id"/>
        <result column="tea_id" property="teaId"/>
        <result column="tea_name" property="teaName"/>
        <result column="tea_sex" property="teaSex"/>
        <result column="dept_id" property="deptId"/>
        <result column="user_id" property="userId"/>
        <association property="department" javaType="department">
            <id column="dept_id" property="id"/>
            <result column="dept_name" property="deptName"/>
        </association>
        <association property="user" javaType="user">
            <id column="user_id" property="id"/>
            <result column="username" property="username"/>
            <result column="password" property="password"/>
            <result column="role" property="role"/>
        </association>
    </resultMap>

    <!--查询所有教师信息，三表联查-->
    <select id="selectTeacherAll" resultMap="teacherMap">
        select teacher.*, department.*, user.*
        from teacher, department, user
        where teacher.dept_id = department.id and teacher.user_id = user.id and teacher.dept_id = #{adminDeptId}
        <if test="teacher.teaId!=null">
            and teacher.tea_id like concat('%', #{teacher.teaId} ,'%')
        </if>
        <if test="teacher.teaName!=null">
            and teacher.tea_name like concat('%', #{teacher.teaName}, '%')
        </if>
        <if test="teacher.deptId!=null">
            and teacher.dept_id = #{teacher.deptId}
        </if>
    </select>

    <!--根据ID 查询教师信息-->
    <select id="selectTeacherById" resultMap="teacherMap">
        select teacher.*, department.*, user.*
        from teacher,
             department,
             user
        where teacher.id = #{id}
          and teacher.dept_id = department.id
          and teacher.user_id = user.id
    </select>

    <!--根据教师ID查询教师-->
    <select id="selectTeacherByTeaId" resultMap="teacherMap">
        select teacher.*, department.*, user.*
        from teacher,
             department,
             user
        where teacher.tea_id = #{teaId}
          and teacher.dept_id = department.id
          and teacher.user_id = user.id
    </select>

    <!--根据用户ID 查询教师-->
    <select id="selectTeacherByUserId" resultMap="teacherMap">
        select teacher.*, department.*, user.*
        from teacher,
             department,
             user
        where teacher.user_id = #{userId}
          and teacher.dept_id = department.id
          and teacher.user_id = user.id
    </select>
</mapper>
